.buttonDelete {
    width: 30px;
    height: 30px;
    background-color: #2e2e35;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-weight: 700;
    margin-top: 2px;
}

.buttonDelete::before {
    content: "тип";
    font-size: 24px;
}

.buttonDelete:hover {
    color: rgb(248, 215, 215);
}