.DeleteButton {
    width: 30px;
    height: 30px;
    background-color: #2e2e35;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-weight: 700;
    margin-top: 2px;
    font-size: 24px;
}

.DeleteButton:hover {
    color: rgb(248, 215, 215);
}